<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Недвижимость">
    <meta name="author" content="">
    <link rel="icon" href="static/img/favicon.ico">

    <title>Недвижимость</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  </head>

  <body>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Недвижимость. Объявления</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-sm-4">
              <form role="form" class="panel panel-default">
                <div id="search_panel"></div>
              </form>
              <form role="form" class="panel panel-default">
                <div id="database_setup"></div>
              </form>
            </div>
            <div class="col-sm-8">
              <div class="panel panel-default">
                <div id="ads_list"></div>
                <div class="panel-body">
                  <div class="clearfix">
                    <ul class="pagination pull-right">
                      <li class="disabled"><span>«</span></li>
                      <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
                      <li><a href="?page=2" role="next">2</a></li>
                      <li><a href="?page=3" role="next">3</a></li>
                      <li><a href="?page=4" role="next">4</a></li>
                      <li><a href="?page=2" role="next">»</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
